<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetLocator"
        tools:targetApi="31">
        <activity
            android:name=".DrawingActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".HowToActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FlappyActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SuggestionActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RequisiteActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ClickActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Notification_Activity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MapActivity2"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcflNP5hNxJ-HDQRB_7GhZCFdMN2aLWi8" />
    </application>

</manifest>